<script src="/js/moment.min.js"></script>
<script src="/js/daterangepicker.js"></script>
<script src="/js/datepickerinit.js"></script>
<link rel="stylesheet" type="text/css" href="/css/daterangepicker.css" />


<div class="form-group">
  <label for="daterange_from" class="main">Nåværende/ny lås:</label>
  <input type="text" id="daterange_from" class="daterange" name="from_date" <%="value='#{from_date}'" %> disabled>
  <input type="text" id="daterange_to" class="daterange" name="to_date" <%="value='#{to_date}'" %>>
</div>
