<h3>Velkommen</h3>
<p>Dette er en tjeneste for registrering av arrangementer ved Deichmanske.</p>
<p>For å begynne registrering, velg "Legg til/rediger" fra menyen over.</p>
<p>&nbsp;</p>
<p>Hvis det er noe du lurer på, kontakt gjerne <a href="mailto:toril.hoimyr@kul.oslo.kommune.no" target="_top">Toril Høimyr</a>
   (tlf. 997 13 655)</p>
