<script>
//$(".nav").find(".active").removeClass("active");
$(".nav-brand").addClass("active");
</script>

<h3>Velkommen</h3>
<p>Dette er en tjeneste for registrering av arrangementer ved Deichmanske.</p>
<p>Begynn ved å velge "Legg til/rediger" fra menyen over.</p>
