<h3>Velkommen</h3>
<p>Dette er en tjeneste for registrering av arrangementer ved Deichmanske. Vi
  anbefaler at det brukes minimum IE 11 eller nyere, eller helst Chrome/Firefox.</p>
<p>For å begynne registrering, velg "Legg til/rediger" fra menyen over.</p>
<p>&nbsp;</p>
<p>Hvis det er noe du lurer på, kontakt gjerne <a href="mailto:toril.hoimyr@kul.oslo.kommune.no" target="_top">Toril Høimyr</a>
   (tlf. 997 13 655)</p>
<p>&nbsp;</p>
<p><b>Nytt:</b> Ved redigering av arrangement, er det nå mulig å markere det som slettet.</p>
<p>Markerte arrangementer telles ikke med i statistikkene, og det vil snart komme mulighet for å fjerne dem helt.</p>


   <%# ---                 --- %>
     <div class="alert alert-info" id="options_alert" role="alert">
       <div class="alert-body">
       <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <p>Hei, det er mulig å forhåndsvelge filial slik at man slipper å velge dette
      hver gang man legger inn et arrangement.</p>
      <p>Har du lyst til å gjøre dette nå?</p>
     </div>
     <div class="alert-footer">
      <button type="button" class="btn btn-primary alert-dialog" id="yes" data-dismiss="alert">Ja takk</button>
      <button type="button" class="btn btn-secondary alert-dialog" id="never" data-dismiss="alert">Ikke spør meg igjen</button>
    </div>
  </div>
