<script>
$(".nav").find(".active").removeClass("active");
$(".nav-info").addClass("active");
</script>

<div style="width: 80%;">

<h3>Litt informasjon om registreringen:</h3>

<p><b>Definisjoner:</b></p>
<p>Ved siden av «Legg til arrangement» er det en liten boks med » i» for informasjon. Her står definisjonene samlet.
Ellers vil du finne definisjoner under hver enkelt kategori hvis du klikker på «øyet»</p>

<p>Som tidligere er det slik:</p>
<ul>
<li>Tiltakene skal være avtalt på forhånd eller være forhåndsannonsert.</li>
<li>Rene medlemsmøter skal ikke registreres.</li>
<li>Vi teller antall personer under den målgruppa arrangementet er beregnet for. Hvis det er et arrangement for barn, teller vi alle frammøtte, både voksne og barn.
Der en aktivitet har elementer fra flere kategorier skal det plasseres der det har hovedtyngden.</li>
</ul>
<p><b>Nytt:</b></p>
<ul>
<li>Alle arrangementer og aktiviteter for skoler og barnehager registreres nå under egen type.
   F.eks. skal forfattermøter for skoleklasser legges inn under 'Program for klasser' i stedet for 'Arrangement'.
  Teaterforestillinger for barnehager skal legges under «Arrangement for barnehager»</li>
<li>Vi skiller mellom arrangement i egen regi og ekstern regi. Les definisjonene.</li>
</ul>

</div>
