<script>
$(".nav").find(".active").removeClass("active");
$(".nav-login").addClass("active");
</script>


<div class="container">

  <form class="form-signin" action="/sessions" method="post">
    <h2 class="form-signin-heading">Arrangementer</h2>
    <label for="username" class="sr-only">brukernavn</label>
    <input type="txt" name="username" class="form-control" placeholder="bruker" required autofocus>
    <label for="password" class="sr-only">passord</label>
    <input type="password" name="password" class="form-control" placeholder="passord" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me" name="remember"> Husk meg
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Logg inn</button>
  </form>

</div>
