
<div class="container">

  <form class="form-signin">
    <h2 class="form-signin-heading">Logg inn</h2>
    <label for="inputEmail" class="sr-only">brukernavn</label>
    <input type="txt" id="userName" class="form-control" placeholder="bruker" required autofocus>
    <label for="password" class="sr-only">passord</label>
    <input type="password" id="password" class="form-control" placeholder="passord" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Husk meg
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

</div>
