

<script src="js/moment.min.js"></script>
<!-- Include Date Range Picker -->
<script src="js/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="css/daterangepicker.css" />

<script src="js/manage_events.js"></script>



<div class="form-group">
  <label for="daterange">Tidspunkt:</label>
  <input type="text" name="daterange" class="form-control" id="daterange">
</div>



<div class="form-group">
  <label for="select_genre">Velg type:</label>
  <select class="form-control" id="select_genre">
<% genres.each do |genre| %>
    <%= "<option value='#{genre.id}' >#{genre.description}</option>" %>
<% end %>
</select>


<div class="form-group">
 <label for="event_desc">Beskrivelse</label>
 <textarea class="form-control" rows="5" id="event_desc"></textarea>
</div>


<div class="form-group">
  <label for="select_category">Velg målgruppe:</label>
  <select class="form-control" id="select_category">
<% categories.each do |cat| %>
    <%= "<option value='#{cat.id}' >#{cat.description}</option>" %>
<% end %>
</select>


<div class="form-group">
  <label for="count">Antall:</label>
  <input type="text" class="form-control" id="count">
</div>


<button type="button" id="submit" class="btn btn-primary btn-md">OK</button>
<button type="button" id="cancel" class="btn btn-primary btn-md">Avbryt</button>
