<!-- Include Date Range Picker -->
<script src="/js/moment.min.js"></script>
<script src="/js/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="/css/daterangepicker.css" />

<script src="/js/statistics.js"></script>

<link rel="stylesheet" type="text/css" href="/css/tableexport.min.css" />
<script src="/js/xlsx.core.min.js"></script>
<script src="/js/FileSaver.js"></script>
<script src="/js/tableexport.min.js"></script>


<link rel="stylesheet" type="text/css" href="/bootstrap-switch.min.css" />
<script src="/bootstrap-switch.min.js"></script>

<!-- <script src="https://code.highcharts.com/highcharts.js"></script> -->
<!-- <script src="https://code.highcharts.com/modules/exporting.js"></script> -->


<ul class="nav nav-tabs">
  <li data-type="selfdefined" class="active"><a data-toggle="tab" href="#stats_engine">Egendefinert</a></li>
  <li data-type="predefined"><a data-toggle="tab" href="#stats_engine">Forhåndsgenerert</a></li>
  <li data-type="guide"><a data-toggle="tab" href="#user_guide">Veiledning</a></li>
</ul>


<div class="tab-content">

  <div id="user_guide" class="tab-pane fade">
    <div class="panel panel-default">
  <div class="panel-body" style="width: 60%;">


    <h2>Typer og kategorier</h2>
    <ul>

<li><b>Type og undertype:</b>
  Vi skiller mellom tre (hoved)typer: Arrangement, Arrangement for klasser og barnehager,
   og Utstillinger. Disse inndeles så i undertyper, som feks Arrangement i egen regi
    og Arrangement i ekstern regi.</li>
<p></p>
<li><b>Kategori og underkategori:</b>
 Kategorier gir en bred inndeling tilpasset kommunens krav til rapportering,
  mens underkategorier er en fininndeling tilpasset våre interne behov.
   Brukere som legger inn et arrangement oppgir kun undertype og underkategori,
    og systemet avleder så kategorien på bakgrunn av disse opplysningene.</li>
</ul>

<h2>Generering av rapporter</h2>

<p>Statistikkgeneratoren er fleksibel, men kanskje ikke veldig intuitiv...
   Her kommer et forsøk på å forklare:</p>

<p>Når periode er valgt, kan rapport-tilfanget tilpasses gjennom valg av sted,
   type, undertype, og kategori eller underkategori. For hver av disse kan man velge:</p>

<ul>
<li><b>Samlet</b> - alt legges sammen under ett (Eks: alle filialer regnes som en)</li>
<li><b>Alle</b> - lager en linje for hver oppføring (Eks: en linje for hver filial)</li>
<li><b>Individuell</b> - lager kun linje for valgte (Eks: Smestad)</li>
</ul>
<p>Bemerk at man må velge type før valg av undertype blir synlig.</p>

<p>Ved å kombinere disse, kan man få dekket de fleste rapportbehov.
   Man kan ikke ødelegge noe ved å søke, så det er bare å prøve seg frem.</p>

<p>Noen eksempler:</p>

<ul><li><b>Arrangement for barnehager:</b>
 Velg type: 'Arrangement for klasser og barnehager', deretter 'Barnehager'
  fra radio-menyen som dukker opp til høyre. Velg deretter
   Alle fra kategori og trykk på "Hent".</li>
<p></p>
<li><b>Alle arrangement utenom klassebesøk og bibliotekinfo/omvisning:</b>
 Velg type: 'Arrangement' og kategori: 'Alle', trykk deretter på 'Hent'.
 Deretter kan klassebesøk og bibliotekinfo klikkes bort fra resultatlisten
 vha den røde fjerningsknappen.</li>
 </ul>

<p>NB! Systemet er pt ikke helt ferdig, så flere muligheter vil bli lagt til på sikt.</p>
<p />
<h3>Særtilfelle: bydelskategorier</h3>
 <p>For å generere bydelsrapporter på kategorinivå, huker man av for "Bruk bydelskategorier"
  på nederste linje i statistikk-grensesnittet (kun synlig ved enkelte stedsvalg).
 </p>
 <p>For tilsvarende på underkategori-nivå, huker man av for "Ekspander underkategorier".
   Hvis man ikke huker av for denne, vil disse underkategoriene bli samlet i én sekkepost ("Annet - FUBIAK")
 </p>
  </div>
</div>
</div>


<div id="stats_engine" class="tab-pane fade in active">
  <%= erb :_statistics_panel, locals: locals %>
</div>

</div>
