<script>
$(".nav").find(".active").removeClass("active");
$(".nav-statistics").addClass("active");
</script>

<!-- Include Date Range Picker -->
<script src="/js/moment.min.js"></script>
<script src="/js/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="/css/daterangepicker.css" />

<script src="/js/statistics.js"></script>


<form class="form-inline" role="form">
<div class="row">
  <div class="form-group">
    <label for="select_quarter">Hurtigvelger:</label>
    <select class="quickpick" id="select_quarter">
      <option value="1" selected>1. kvartal</option>
      <option value="2">2. kvartal</option>
      <option value="3">3. kvartal</option>
      <option value="4">4. kvartal</option>
      <option value="5">2. tertial</option>
      <option value="6">Hele</option>
    </select>

    <select class="quickpick" id="select_year">
      <% for year in 2016..Time.now.strftime("%Y").to_i %>
      <%= " <option value='#{year}'>#{year}</option> " %>
      <% end %>
    </select>
  </div>
</div>


<div class="row">
  <div class="form-group">
    <label for="daterange_from">Periode:</label>
    <input type="text" id="daterange_from" class="period">
    <input type="text" id="daterange_to" class="period">
    <input type="text" id="period_name">
  </div>
</div>

<div class="row">
  <div class="form-group">
    <label for="branch_selector">Sted:</label>
    <select id="branch_selector">
      <option value="sum_all">Samlet</option>
      <option value="iterate_all">Alle</option>
      <% branches.each do |branch| %>
      <%= "<option value='#{branch.id}'>#{branch.name}</option>" %>
      <% end %>
    </select>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <label for="category_selector">Kategori:</label>
    <select id="category_selector" class="category_selector">
      <option value="none" hidden disabled>-</option>
      <option value="sum_all">Samlet</option>
      <option value="iterate_all">Alle</option>
      <% categories.each do |category| %>
      <%= "<option value='#{category.id}'>#{category.name}</option>" %>
      <% end %>
    </select>


    <label for="subcategory_selector">Underkategori:</label>
    <select id="subcategory_selector" class="category_selector">
      <option value="none">-</option>
      <option value="sum_all">Samlet</option>
      <option value="iterate_all">Alle</option>
      <% subcategories.each do |subcategory| %>
      <%= "<option value='#{subcategory.id}'>#{subcategory.name}</option>" %>
      <% end %>
    </select>
  </div>
</div>



<div class="row">
  <div class="form-group">
    <button type="button" class="btn btn-secondary" id="submit">Hent</button>
    <button type="button" class="btn btn-secondary" id="clear">Tøm liste</button>
  </div>
</div>

</form>

<div class="table-responsive">
  <table class="table table-striped" id="stats_table">
    <thead class="thead-inverse">
      <tr>
        <th>Periode</th>
        <th>Sted</th>
        <th>Kategori</th>
        <th>Barn/unge</th>
        <th>Samlet</th>
        <th>Ant. arr</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
