<!-- Include Date Range Picker -->
<script src="/js/moment.min.js"></script>
<script src="/js/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="/css/daterangepicker.css" />

<script src="/js/statistics.js"></script>


<br />
<br />

<form class="form-inline" role="form">
<div class="row">
  <div class="form-group">
    <label for="select_quarter">Hurtigvelger:</label>
    <select class="quickpick" id="select_quarter">
      <option value="1" selected>1. kvartal</option>
      <option value="2">2. kvartal</option>
      <option value="3">3. kvartal</option>
      <option value="4">4. kvartal</option>
      <option value="5">Hele</option>
    </select>

    <select class="quickpick" id="select_year">
      <% for year in 2016..Time.now.strftime("%Y").to_i %>
      <%= " <option value='#{year}'>#{year}</option> " %>
      <% end %>
    </select>
  </div>
</div>


<div class="row">
  <div class="form-group">
    <label for="daterange_from">Periode:</label>
    <input type="text" id="daterange_from" class="period">
    <input type="text" id="daterange_to" class="period">
  </div>
</div>

<div class="row">
  <div class="form-group">
    <label for="select_branch">Filial:</label>
    <select id="select_branch">
      <option value="0">Samlet</option>
      <option value="-1">Alle</option>
      <% branches.each do |branch| %>
      <%= "<option value='#{branch.id}'>#{branch.name}</option>" %>
      <% end %>
    </select>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <label for="select_genre">Kategori:</label>
    <select id="select_genre">
      <option value="0">Samlet</option>
      <% genres.each do |genre| %>
      <%= "<option value='#{genre.id}'>#{genre.description}</option>" %>
      <% end %>
    </select>
  </div>
</div>



<div class="row">
  <div class="form-group">
    <button type="button" class="btn btn-secondary" id="submit">Hent</button>
    <button type="button" class="btn btn-secondary" id="clear">Tøm liste</button>
  </div>
</div>

</form>

<div class="table-responsive">
  <table class="table table-striped" id="stats_table">
    <thead class="thead-inverse">
      <tr>
        <th>Periode</th>
        <th>Filial</th>
        <th>Barn/unge</th>
        <th>Samlet</th>
        <th>Ant. arr</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
