body  { padding-top: 55px; }

.invalid {
  border: 2px solid red;
}
.valid {
}

.fw_table {
  table-layout:fixed;
}

.fw_table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

label.main {
  display:inline-block;
  width: 165px;
}

.row {
  margin-top: 5px;
}

.form-group + .glyphicon {
  position: absolute;
  right: 0;
  padding: 8px 27px;
}

.form-group {
  //padding-right: 30px;
  padding-left: 20px;
}
