body  { padding-top: 30px; }

.invalid {
  border: 2px solid red;
}
.valid {
}

.fw_table {
  table-layout:fixed;
}

.fw_table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
